.footer {
  padding: 40px 0;
  text-align: center;
  background-color: var(--themecolor);
  color: var(--textcolor);
}


@media only screen and (max-width: 1024px) {
  .footer {
    padding: 30px 0px;
  }
}